 .menu-four-option .icon{
    vertical-align: bottom;
    margin-right: 5px;
}

.menu-four-option {
 padding: 0px !important;
 margin-top: -100px;
}

.menu-four-option div {
    border-bottom: 0px !important;
}

.menu-four-option a.button {
color: #666666;
font-weight: bold;
font-size: 20px;
border: 2px solid;
width: 100%;
background: #FFF;
border-radius: 0px;
}

.menu-four-option div div:nth-child(1) a.button
{
 border-color: #ffc63e !important;
}

.menu-four-option div div:nth-child(2) a.button
{
 border-color: #074fea !important;
}

.menu-four-option div div:nth-child(3) a.button
{
 border-color: #FF186A !important;
}

.menu-four-option div div:nth-child(4) a.button
{
 border-color: #58b947 !important;
}

.menu-four-option div div:nth-child(1) a.button:hover
{
    background: rgba(255, 198, 62, .2);
}
.menu-four-option div div:nth-child(2) a.button:hover
{
	background: rgba(7, 79, 234, .2);
}
.menu-four-option div div:nth-child(3) a.button:hover
{
	background: rgba(255, 24, 106, .2);
}
.menu-four-option div div:nth-child(4) a.button:hover
{
	background: rgba(88, 185, 71, .2);
}

@media (max-width: 899px) {
    .menu-four-option div {
        height: 250px !important;
        border-bottom: 0px !important;
    }
}

@media (min-width: 900px) {

    .menu-four-option div {
        height: 100px !important;
        border-bottom: 0px !important;
    }
    
    }

