.menu-four-option {
 padding: 0px !important;
 margin-top: -100px;
}

.menu-four-option div {
    height: 100px !important;
}

.menu-four-option a.button {
color: #666666;
font-weight: bold;
font-size: 20px;
border: 1px solid;
width: 100%;
}

